@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
}

.container{
	position: relative;
	overflow: hidden;
	min-height: 480px;
	width: 768px;
	max-width: 100%;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 8px 24px  rgba(0, 32, 63, .45),
		  0 8px 8px rgba(0, 32, 63, .45);
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: .6s ease-in-out;
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show .6s
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.container.panel-active .login-container {
	transform: translateX(100%);
}

.login-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

form {
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #adf0d1;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

button.ghost {
	background-color: transparent;
}

button {
	background-color: #adf0d1;
	color: #00203f;
	border: 1px solid #adf0d1;
	font-size: 16px;
	font-weight: bold;
	padding: 16px 32px;
	margin-top: 24px;
	letter-spacing: 1px;
	border-radius: 50px;
	border-color: rgba(0, 32, 63, .45);
	transition: .2s ease-in;
}

button:hover {
	cursor: pointer;
	background-color: #00203f;
	color: #adf0d1;
}

button:active {
	transform: scale(.95);
}

.social-container {
	margin: 24px 0;
}

.social-container a {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 4px;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-color: #adf0d1;
	border: 1px solid rgba(0, 32, 63, .45);
}

h1 {
	margin: 0;
	font-size: 24px;
}

span {
	font-size: 14px;
}

a {
	text-decoration: none;
	font-size: 14px;
	margin: 8px 0 16px;
	color: #333;
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	z-index: 100;
	transition: transform .6s ease-in-out;
}

.container.panel-active .overlay-container {
	transform: translateX(-100%);
}

.overlay {
	background: linear-gradient(to right, #adf0d1, #e7f0fd);
	background: #adf0d1;
	color: #00203f;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
	transform: translateX(0);
	transition: transform .6s ease-in-out;
}

.container.panel-active .overlay {
	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform .6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.panel-active .overlay-right {
	transform: translateX(20%);
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: .5px;
	margin: 20px 0 30px;
}